.forecast {
    position: relative;
    bottom: 30px;
}
.weatherIcon {
    --padding-bottom: 3px;
    border: 3px solid yellow;
  }
.swipeButton {
background-color: yellow;
}
.swiper-button-prev {
    position: absolute;
    top: 53%;
    left: 25%;
    background-color:transparent;
}
.swiper-button-next {
    position: absolute;
    top: 53%;
    right: 25%;
    background-color:transparent;
} 
.time {
   position: relative;
   top: 8px;
}


// MEDIA QUERIES
    
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 993px)  {
    .swiper-button-prev {
      position: absolute;
      top: 74%;
      left: 10%;
      background-color:transparent;
  }
  .swiper-button-next {
      position: absolute;
      top: 74%;
      right: 10%;
      background-color:transparent;
  } 
    
}

// MEDIA QUERIES
    
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 320px) and (max-width: 992px) {

    ion-slide {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        font-size: 1.2rem;
    }
    
    ion-slide > div {
        width: 24%;
    }

    .swiper-button-prev {
      position: absolute;
      top: 73%;
      left: 10%;
      background-color:transparent;
  }
  .swiper-button-next {
      position: absolute;
      top: 73%;
      right: 10%;
      background-color:transparent;
  } 
    
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px  and below
  */
  
  @media  (min-width: 430px) and (max-width: 892px)  {
    
    ion-slide {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        font-size: 1.2rem;
    }
    
    ion-slide > div {
        width: 24%;
    }

    .swiper-button-prev {
      position: absolute;
      top: 67%;
      left: 5%;
      background-color:transparent;
  }
  .swiper-button-next {
      position: absolute;
      top: 67%;
      right: 5%;
      background-color:transparent;
  } 
    
}


  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ## For ION-SLIDES
  */
  
  @media  (min-width: 360px) and (max-width: 892px)  {
    
    ion-slides {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        font-size: 1.2rem;
        position: relative;
        bottom: 450px;
    }  
  }

  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ## IPAD PRO
  */
  
  @media (min-width: 1024px) {
    
    .swiper-button-prev {
      position: absolute;
      top: 56%;
      left: 5%;
      background-color:transparent;
  }
  .swiper-button-next {
      position: absolute;
      top: 56%;
      right: 5%;
      background-color:transparent;
  } 
  ion-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-size: 1.8rem;
}

  ion-slide > div {
    width: 24%;
  }
  ion-slides {
    position: relative;
    bottom: 160px;
    font-size: 1.6rem;
  }
  .swipeButton {
    background-color: yellow;
    position: relative;
    bottom: 170px;
    font-size: 1.6rem;
    color: black;
    }
}

 /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ## IPAD
  */
  
  @media (max-width: 768px) {
    
    .swiper-button-prev {
      position: absolute;
      top: 55%;
      left: 5%;
      background-color:transparent;
  }
  .swiper-button-next {
      position: absolute;
      top: 55%;
      right: 5%;
      background-color:transparent;
  } 
  ion-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
}

  ion-slide > div {
    width: 23%;
  }
  ion-slides {
    position: relative;
    bottom: 293px;
  }
  .swipeButton {
    background-color: yellow;
    position: relative;
    bottom: 295px;
    color: black;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ## IPHONE X
  */
  
  @media (max-width: 375px) {
    
    ion-slide > div {
      width: 21%;
      font-size: .85rem;
    }
    ion-slides {
     font-size: .5rem;
     padding-top: 7px;
     bottom: 284px;
    }
    .swipeButton {
      background-color: yellow;
      position: relative;
      bottom: 295px;
      color: black;
      font-size: .75rem;
      }
      .swiper-button-prev {
        position: absolute;
        top: 53%;
        left: .5%;
        background-color:transparent;
    }
    .swiper-button-next {
        position: absolute;
        top: 53%;
        right: .5%;
        background-color:transparent;
    } 
  }



  